[submodule "wiki"]
	path = wiki
	url = git@gitorious.org:alsacerecolte/alsacerecolte-gitorious-wiki.git
[submodule "project/plugins/acCouchdbPlugin"]
	path = project/plugins/acCouchdbPlugin
	url = git@gitorious.org:accouchdbplugin/accouchdbplugin.git
[submodule "project/plugins/acVinDSPlugin"]
	path = project/plugins/acVinDSPlugin
	url = git@gitorious.org:acvin/acvindsplugin.git
[submodule "project/plugins/acVinLibPlugin"]
	path = project/plugins/acVinLibPlugin
	url = git@gitorious.org:acvin/acvinlibplugin.git
[submodule "project/plugins/acVinDocumentPlugin"]
	path = project/plugins/acVinDocumentPlugin
	url = git@gitorious.org:acvin/acvindocumentplugin.git
[submodule "project/plugins/acVinMultiVracPlugin"]
	path = project/plugins/acVinMultiVracPlugin
	url = git@gitorious.org:acvin/acvinmultivracplugin.git
[submodule "project/plugins/acVinAnnuairePlugin"]
	path = project/plugins/acVinAnnuairePlugin
	url = git@gitorious.org:acvin/acvinannuaireplugin.git
