# You can find more information about this file on the symfony website:
# http://www.symfony-project.org/reference/1_4/en/04-Settings

prod:
  .settings:
    no_script_name:         true
    logging_enabled:        false
    cache:                  true


dev:
  .settings:
    error_reporting:        <?php echo ((E_ALL | E_STRICT) ^ E_DEPRECATED)."\n" ?>
    web_debug:              true
    cache:                  false
    no_script_name:         false
    etag:                   false

test:
  .settings:
    error_reporting:        <?php echo ((E_ALL | E_STRICT) ^ E_NOTICE)."\n" ?>
    cache:                  false
    web_debug:              false
    no_script_name:         false
    etag:                   false
    csrf:                   false

all:
  .settings:
    # Form security secret (CSRF protection)
    csrf_secret:            false

    # Output escaping settings
    escaping_strategy:      true
    escaping_method:        ESC_SPECIALCHARS

    # Enable the database manager
    use_database:           true
    error_404_module:       global
    error_404_action:       error404

    check_lock:             true

    enabled_modules:        [drm, drm_edition, drm_vrac_details, drm_export_details, drm_cooperative_details, drm_pdf, drm_validation, drm_xml, document, produit, drm_crds, drm_annexes, drm_ajout_produit, drm_visualisation, etablissement_autocomplete, compte_autocomplete, mercuriales]

  .actions:
    login_module:           compte
    login_action:           login
    secure_module:          global
    secure_action:          secure
