/**
 * Fichier : contrats_vrac.css
 * Description : styles spécifiques à la création de contrats vrac
 * Auteur : Mikaël Guillin - mguillin[at]actualys.com
 * Version : 1.0.0
 ******************************************/

/* =================================================== */
/* STRUCTURE / ELEMENTS GENERIQUES */
/* =================================================== */

#contrats_vrac
{
	background: #f7f6f6;
	clear: both;
	margin: 15px 0 22px;
	padding: 30px 20px;
}

.btn_header
{
	padding: 0 20px 0 0;
	text-align: right;
}

#contrats_vrac .bloc_annuaire,
#contrats_vrac .bloc_infos 
{
	border: 1px solid #ccc;
	padding: 15px; 
}

#contrats_vrac .bloc_infos h2,
#contrats_vrac .bloc_infos legend { min-width: 100px; }

#contrats_vrac .btn_prev_suiv { margin-top: 20px; }

#contrats_vrac .error_list { margin-top: 10px; }

/* =================================================== */
/* Rail d'étapes */
/* =================================================== */

#contrats_vrac #etape_declaration { padding-left: 0; }

#contrats_vrac #etape_declaration.etapes_ds { margin: 0; }

/* =================================================== */
/* Boutons précédent / suivant */
/* =================================================== */

#contrats_vrac #btn_etape { padding: 0; }

#contrats_vrac #btn_etape button { border: 0; }

/* =================================================== */
/* Formulaire */
/* =================================================== */

#contrats_vrac form#principal,
#contrats_vrac form#principal input[type="text"] { font-size: 14px; }

#contrats_vrac form#principal input[type="text"],
#contrats_vrac form#principal input[type="password"],
#contrats_vrac form#principal textarea { padding: 3px; }

#contrats_vrac form#principal input[type="text"]
{
	border: 1px solid #c1c1c1;
	border-bottom-color: #e1e1e1;
	border-top-color: #848484; 
}

#contrats_vrac form#principal .bloc_infos
{
	margin: 0 0 50px;
	position: relative;
	width: 773px;
}

#contrats_vrac form#principal .bloc_infos:first-child { margin-top: 25px; }

#contrats_vrac form#principal .bloc_infos legend
{
	position: absolute;
	left: -1px;
	top: -26px;
}

#contrats_vrac form#principal .bloc_conditionner  { display: inline-block; }

#contrats_vrac form#principal .ui-button
{
	background: url('../images/puces/fleche_sous_menu.png') 50% 50% no-repeat;
	border: 0;
	cursor: pointer;
	height: 17px;
	margin: 0 5px;
	vertical-align: middle;
	width: 17px;
}

#contrats_vrac form#principal .ui-autocomplete-input
{
	background: #FFF url('../images/pictos/pi_loupe_2.png') 98% 50% no-repeat;
	padding: 0 20px 0 0;
}

#contrats_vrac .btn_supprimer,
#contrats_vrac form#principal .remove_autocomplete 
{ 
	background: url('../images/pictos/pi_supprimer.png') no-repeat;
	display: inline-block;
	height: 14px;
	margin: 0 5px;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	width: 14px;
}

#contrats_vrac form#principal .bold { font-weight: bold; }

#contrats_vrac form#principal a 
{
	color: #acb701;
	text-decoration: underline;
}

#contrats_vrac form#principal .bloc_infos .form_col 
{ 
	background: #e0dfdf; 
	float: left;
	padding: 15px;
	width: 426px;
}

#contrats_vrac form#principal .informations,
#contrats_vrac form#principal .bloc_infos .informations
{ 
	background: #e0e1bd;
	margin: 0 0 0 20px;
	padding: 15px;
	width: 267px; 
}

#contrats_vrac form#principal .informations ul li { margin: 0 0 7px; }

#contrats_vrac form#principal .ligne_form { margin: 0 0 25px; }

#contrats_vrac form#principal .bloc_infos .nom_cvi .ligne_form { margin: 0 0 5px; }

#contrats_vrac form#principal .bloc_infos .radio_list { display: inline-block; }

#contrats_vrac form#principal .bloc_infos .radio_list li
{
	display: inline-block;
	margin: 0 0 0 32px;
}

/* =================================================== */
/* Tableau produits */
/* =================================================== */

#contrats_vrac form#principal .produits.table_donnees input[type="text"] { background: #efeeee; }

#contrats_vrac form#principal .produits.table_donnees .actif input { background: #FFF; }

#contrats_vrac form#principal .produits.table_donnees .coche .prix { background: #edecec url('../images/pictos/pi_check_2.png') 98% 50% no-repeat; }

#contrats_vrac form#principal .produits.table_donnees .balayette
{
	background: #edecec url('../images/pictos/pi_balayette.png') no-repeat;
	display: inline-block;
	height: 18px;
	overflow: hidden;
	text-indent: 100%;
	vertical-align: 2px;
	visibility: hidden;
	width: 15px;
    white-space: nowrap;
}

#contrats_vrac form#principal .produits.table_donnees .effacable .balayette { visibility: visible; }

#contrats_vrac form#principal .produits.table_donnees + a
{
	display: inline-block;
	margin: 20px 0;
}

/* =================================================== */
/* Validation */
/* =================================================== */

#contrats_vrac .soussignes,
#contrats_vrac .validation.table_donnees,
#contrats_vrac .conditions { color: #3b3b3b; }

#contrats_vrac .soussignes { margin: 0 0 40px; }

#contrats_vrac .statut_contrat
{
	font-size: 20px;
	margin: 0 0 20px;
}

#contrats_vrac .statut_contrat span { float: right; }

#contrats_vrac .bloc_soussigne
{
	float: left;
	width: 309px;
}

#contrats_vrac .bloc_soussigne + .bloc_soussigne { margin: 0 0 0 15px; }

#contrats_vrac .bloc_soussigne h3
{
	padding: 0 0 0 12px;
	width: 86px;
}

#contrats_vrac .bloc_soussigne ul li { margin: 5px 0; }

#contrats_vrac .bloc_soussigne .cadre
{
	background: #f1f1f1;
	border: 1px solid #c6c8c7;
	padding: 10px;
}

/* =================================================== */
/* Bloc du responsable du contrat */
/* =================================================== */
#contrats_vrac .bloc_soussigne.responsable h3 
{
	background: #acb701;
	color: #FFF;  
}

#contrats_vrac .bloc_soussigne.responsable .cadre { border-color: #acb701; }

#contrats_vrac .bloc_soussigne.responsable strong.responsable
{
	background: url('../images/pictos/responsable.png') no-repeat;
	color: #acb701;
	display: block;
	font-style: italic;
	font-weight: normal;
	height: 22px;
	line-height: 22px;
	margin: 0 0 10px;
	padding: 0 0 0 30px;
}

/* =================================================== */
/* Tableau de la page de validation */
/* =================================================== */
#contrats_vrac .validation.table_donnees 
{ 
	margin: 0 0 40px;
	width: auto;
}

#contrats_vrac .validation.table_donnees tr :first-child { width: 360px; }

#contrats_vrac .validation.table_donnees tr th 
{ 
	background: #dcdfa9;
	border: 1px solid #FFF;
	border-bottom: 0;
	color: #848c03;
	padding: 5px 10px;
	text-align: left;
}

#contrats_vrac .validation.table_donnees .prix,
#contrats_vrac .validation.table_donnees .volume { width: 105px; }

#contrats_vrac .validation.table_donnees td.prix,
#contrats_vrac .validation.table_donnees td.volume { text-align:right; }

#contrats_vrac form#principal .conditions { margin: 0 0 20px; }

#contrats_vrac form#principal .conditions .ligne_form { margin: 15px 0 0; }

#contrats_vrac form#principal .conditions label 
{
	display: inline-block;
	width: 150px;  
}

#contrats_vrac form#principal .conditions input { width: 473px; }

/* =================================================== */
/* Annuaire */
/* =================================================== */

#contrats_vrac .annuaire 
{
	font-size: 14px;
	margin: 0 0 0 -32px; 
}

#contrats_vrac .bloc_annuaire 
{ 
	background: #f1f1f1;
	float: left;
	margin: 0 0 0 32px;
	position: relative;
	width: 356px; 
}

#contrats_vrac .bloc_annuaire + .bloc_annuaire + .bloc_annuaire { margin-top: 55px; }

#contrats_vrac .bloc_annuaire .bloc { width: 304px; }

#contrats_vrac .bloc_annuaire h2
{
	left: -1px;
	margin: 0 0 15px;
	position: absolute;
	top: -26px;
}

#contrats_vrac .bloc_annuaire h3
{
	font-size: 18px;
	width: 284px;
}

#contrats_vrac .bloc_annuaire .btn 
{ 
	display: block;
	margin: 20px 0 0; 
}

#contrats_vrac .bloc_annuaire ul 
{ 
	background: #edecec;
	border: 1px solid #c6c8c7; 
}

#contrats_vrac .bloc_annuaire ul li 
{ 
	padding: 5px 13px 5px;
	position: relative;
}

#contrats_vrac .bloc_annuaire ul li + li { border-top: 1px dashed #ccc; }

#contrats_vrac .bloc_annuaire ul li .btn_supprimer
{
	position: absolute;
	right: -27px; 
	top: 5px;
}

/* Formulaire d'ajout de l'annuaire */

#contrats_vrac .ajout_annuaire form#principal .informations,
#contrats_vrac .ajout_annuaire form#principal .table_donnees { margin: 20px 0 0; }

#contrats_vrac .ajout_annuaire form#principal .informations h2 { margin: 0 0 20px; }

/* =================================================== */
/* Fiche contrat */
/* =================================================== */

#contrats_vrac .fiche_contrat #previsualiserContrat { margin: 0 0 0 310px; }

#contrats_vrac .fiche_contrat .echeance,
#contrats_vrac .fiche_contrat .enleve,
#contrats_vrac .fiche_contrat .cloture { text-align: center; }
