@charset "utf-8";

/**
 * Fichier : declaration_stocks.css
 * Description : styles spécifiques à la déclaration des stocks
 * Auteur : Mikaël Guillin - mguillin[at]actualys.com
 * Version : 1.0.0
 ******************************************/

/* =================================================== */
/* STRUCTURE / ELEMENTS GENERIQUES */
/* =================================================== */

.header_ds
{
	background: #F1F1F1;
	border-bottom: 1px solid #CACACA;
	border-top: 1px solid gainsboro;
	padding: 4px 20px;
	position: relative;
	top: -30px;
}

#application_ds 
{
	background: #f7f6f6;
	clear: both;
	margin: 0 0 22px;
	padding: 0 20px 30px;
}

#application_ds a:hover
{
	text-decoration: none;
}

#application_ds input[type="text"]
{
	padding: 0 5px;
	width: 113px;
}


/**
 * Onglets
 ******************************************/
#etape_declaration.etapes_ds
{
	background: none;
	border: 0;
	float: left;
	margin: 0;
	padding: 0;
	top: 0;
}

#etape_declaration.etapes_ds li
{
	min-width: 133px;
	width: auto;
}

#etape_declaration.etapes_ds li span
{
	display: block;
	padding: 0 5px;
}

#onglets_majeurs.onglets_stock
{
	float: left;
	font-size: 13px;
	line-height: 1;
	margin: 0 0 23px;
	width: auto;
}

#onglets_majeurs.onglets_stock .sous_onglets.invisible
{
	display: none;
}

#onglets_majeurs.onglets_stock li a
{
	padding: 2px 9px 2px 5px;
}

#onglets_majeurs.onglets_stock li.ui-tabs-selected a
{
	background: #ffb52c;
	color: #000;
}

#onglets_majeurs.onglets_stock li.ajouter a
{
	background: #666 url(../images/pictos/pi_ajout.png) 10px center no-repeat;
	padding-left: 30px;
}

/* bouton récapitulatif */
.recap_stock
{
	background: #bcbdbc;
	color: #FFF;
	display: inline-block;
	float: right;
	font-size: 15px;
	font-weight: bold;
	height: 26px;
	line-height: 33px;
	margin-right: 38px;
	padding: 0 5px;
	width: 115px;
}

.recap_stock:hover
{
	text-decoration: none;
}

/**
 * Barre de progression
 ******************************************/
.progression_ds
{
	float: right;
	text-align: center;
	width: 200px;
}

.progression_ds p
{
	color: #555;
	margin: 0 0 2px;
}

.progression_ds p span
{
	color: #acb701;
	font-size: 18px;
	font-weight: bold;
}

.progression_ds .barre_progression
{
	background: #6f6f6f;
	width: 100%;
}

.progression_ds .barre_progression .progression
{
	background: #acb701;
	height: 3px;
}

#adresse_stock
{
	clear: both;
	color: #acb701;
	font-size: 18px;
	padding: 0 0 20px 23px;
}



/* =================================================== */
/* GESTION DES STOCK */
/* =================================================== */

#application_ds #cont_gestion_stock
{
	width: 738px;
}

#application_ds #gestion_stock
{
	border: 1px solid #C6C6C6;
	border-top: 4px solid #ffbf4e;
	margin: 0 0 35px;
	padding: 55px 15px 15px 0;
}


/**
 * Liste cépages
 ******************************************/
#application_ds #liste_cepages
{
	color: #666;
	font-size: 14px;
	float: left;
	margin: 36px 40px 10px 0;
	width: 200px;
}

#application_ds #liste_cepages li
{
	background: #E0DFDF;
	height: 20px;
	line-height: 20px;
	margin: 3px 0;
	padding: 0 5px;
}

#application_ds #liste_cepages li em
{
	font-size: 11px;
	font-style: normal;
	margin: 0 0 0 5px;
}

/**
 * Colonnes
 ******************************************/
#application_ds #donnees_stock_cepage
{
	float: left;
	margin: 0 0 10px;
}

#application_ds #donnees_stock_cepage .colonne
{
	background: #e0e1bd;
	float: left;
	width: 140px;
}

#application_ds #donnees_stock_cepage .colonne + .colonne
{
	margin: 0 0 0 30px;
}

#application_ds #donnees_stock_cepage .colonne h2
{
	background: #acb701;
	color: #FFF;
	font-size: 14px;
	font-weight: normal;
	height: 18px;
	line-height: 18px;
	padding: 0 5px;
	overflow: hidden;
	white-space: nowrap;
}

#application_ds #donnees_stock_cepage .colonne .col_cont
{
	padding: 18px 8px;
}

#application_ds #donnees_stock_cepage .colonne li
{
	height: 18px;
	padding: 2px 0 0;
	margin: 3px 0;
}

#application_ds #donnees_stock_cepage .colonne input
{
	background: #f0f0de;
	border: 1px solid #C2C1BA;
	font-size: 13px;
	height: 16px;
	padding: 0 5px;
	text-align: right;
}

#application_ds #donnees_stock_cepage .colonne input:focus { background: #fff; }

/**
 * Total / Sous-total
 ******************************************/

#application_ds .ligne_total
{
	clear: both;
	color: #3b3b3b;
	padding: 10px 0;
	overflow: hidden;
}

#application_ds .ligne_total h2,
#application_ds .ligne_total ul,
#application_ds .ligne_total ul li { float: left; }

#application_ds .ligne_total h2
{
	font-size: 16px;
	padding: 0 0 0 10px;
	width: 230px;
}

#application_ds .ligne_total ul li
{
	padding: 0 8px;
	width: 124px;
}

#application_ds .ligne_total ul li + li { margin: 0 0 0 30px }

#application_ds .ligne_total input
{
	font-size: 15px;
	width: 111px;
}

/**
 * Sous-total
 ******************************************/

#application_ds #sous_total
{
	background: #fdbc4c;
}

/**
 * Total
 ******************************************/

#application_ds #total
{
	background: #ffa913;
	padding: 10px 1px;
}



/**
 * Boutons
 ******************************************/

#application_ds #btn_appelation
{
	padding: 30px 0 0;
}

#application_ds #btn_appelation li + li
{
	float: right;
}

#application_ds .btn_prev_suiv li
{
	float: left;
}

#def_lieux_stockage
{
	background: #ffa913;
	display: inline-block;
	font-size: 15px;
	font-weight: bold;
	margin: 0 0 0 23px;
	padding: 5px;
}

#def_lieux_stockage:hover
{
	text-decoration: none;
}

/**
 * Autres
 ******************************************/

#application_ds .bloc_autres
{
	background: #edecec;
	border: 1px solid #c6c8c7;
	float: left;
	margin: 50px 0 0;
	padding: 15px;
	position: relative;
}

#application_ds .bloc_autres + .bloc_autres
{
	margin-left: 30px;
}

#application_ds .bloc_autres h2
{
	background: #dcdfa9;
	color: #848c03;
	font-size: 18px;
	font-weight: normal;
	left: 0;
	padding: 5px 0 5px 20px;
	position: absolute;
	top: -32px;
	width: 85px;
}

#application_ds .bloc_autres form
{
	background: #e0e1bd;
	padding: 10px;
}

#application_ds .bloc_autres .ligne_form
{
	margin: 15px 0;
}

#application_ds .bloc_autres label
{
	display: inline-block;
	width: 195px;
}

/**
 * Définition des lieux de stockage
 ******************************************/

#application_ds #lieux_stockage
{
	margin: 50px 0 0;
	width: 830px;
}

#application_ds #lieux_stockage td
{
	background: #edecec;
	border: 1px solid #c6c8c7;
	padding: 10px;
	text-align: center;
}

#application_ds #lieux_stockage td:first-child
{
	text-align: left;
}

#application_ds #lieux_stockage td.adresse_lieu
{
	font-size: 14px;
	width: 390px;
}

#application_ds #lieux_stockage td.paire
{
	background: #ddd;
}

#application_ds #lieux_stockage th:first-child
{
	position: relative;
}

#application_ds #lieux_stockage th:first-child span
{
	background: #dcdfa9;
	color: #848c03;
	font-size: 18px;
	font-weight: normal;
	height: 100%;
	padding: 0;
	position: absolute;
	top: 0;
	width: 155px;
}

#application_ds #lieux_stockage th span
{
	display: block;
	color: #b5bf22;
	padding: 0 0 5px;
}



