@charset "utf-8";
/*@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700);*/


/**
 * Fichier : global.css
 * Description : styles génériques du site
 * Auteur : Hamza Iqbal - hiqbal[at]actualys.com
 * Version : 1.0.0
 ******************************************/

/**
 * Reset
 ******************************************/
*
{
    font-size: 100%;
    margin: 0;
    padding: 0;
}

html, body
{
    font-family: Calibri, Arial, Verdana, Helvetica, sans-serif;
    /*height: 100%;*/
    line-height: 1.2;
}

a img, fieldset { border: 0; }

label, a * { cursor: pointer; }

ol { list-style-position: inside; }

ul { list-style: none; }

textarea, input, select { font: 12px Calibri, Arial, Helvetica, sans-serif; }

sup { vertical-align: top; }

strong { font-weight: bold; }

em { font-style: italic; }

ins { text-decoration: none; }

del { text-decoration: line-through; }

table
{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

/**
 * Eléments génériques
 ******************************************/
body.bttf {
    background: #000 url(../images/fonds/bg_global_bttf.jpg) center 0 no-repeat;
}
body.bttf #header {
    margin-left: 70px;
}
body.bttf #header #logo{
    display: none;
}


body
{
    background: #000 url(../images/fonds/bg_global.jpg) center 0 no-repeat;
    font-size: 12px;
}

a { color: #000; text-decoration: none; }
a:hover, a:focus { text-decoration: underline; }

input[type=radio]
{
    height: 14px;
    vertical-align: top;
    width: 14px;
}

/**
 * Classes génériques
 ******************************************/

/* Divers */
.invisible
{
    background: 0 !important;
    border: 0 !important;
    display: block !important;
    float: none !important;
    height: 1px !important;
    list-style: none !important;
    margin: -1px 0 0 -1px !important;
    position: absolute !important;
    overflow: hidden !important;
    padding: 0 !important;
    width: 1px !important;
}

.clear { clear: both; }
.center { text-align: center; }
.f_left { display: inline; float: left; }
.f_right { display: inline; float: right; }


.clearfix
{
    zoom: 1;
    min-height: 1px;
}

.clearfix:before,
.clearfix:after
{
    content: "\0020";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}

.clearfix:after { clear: both; }

.ligne_form
{
    clear: both;
    overflow: hidden;
}

/* Titres */

.titre_principal,
.titre_section
{
    display: inline-block; !
    display: inline;
    font-weight: normal;
    padding: 0 10px;
    zoom: 1;
}

.titre_principal
{
    background: #acb701;
    color: #f1f1f1;
    font-size: 20px;
    line-height: 26px;
    margin: 0 0 0 20px;
}

.titre_section
{
    background: #dcdfa9;
    color: #848c03;
    font-size: 16px;
    line-height: 25px;
}

/* Boutons */

/* Structure */
.btn_majeur
{
    border: 1px solid #b8b4b4;
    border-radius: 2px;
    color: #2a2a2a;
    display: inline-block;
    font-size: 14px;
    padding: 5px 10px;
    position: relative;
    cursor: pointer;
}

.btn_majeur:hover,
.btn_majeur:focus { text-decoration: none; }

/* Couleurs */
.btn_vert
{
    background: #BBCC00;
    background-image: -webkit-linear-gradient(bottom, #BBCC00, #e4e4b5);
    background-image: -moz-linear-gradient(bottom, #BBCC00, #e4e4b5);
    background-image: -o-linear-gradient(bottom, #BBCC00, #e4e4b5);
    background-image: linear-gradient(to top, #BBCC00, #e4e4b5);
}

.btn_gris
{
    background: #5b5b5b;
    background-image: -webkit-linear-gradient(bottom, #5b5b5b, #dedede);
    background-image: -moz-linear-gradient(bottom, #5b5b5b, #dedede);
    background-image: -o-linear-gradient(bottom, #5b5b5b, #dedede);
    background-image: linear-gradient(to top, #5b5b5b, #dedede);
    color: #000;
}

.btn_jaune
{
    background: #FF8500;
    background-image: -webkit-linear-gradient(98deg, #FF8500, #ffe0a5);
    background-image: -moz-linear-gradient(98deg, #FF8500, #ffe0a5);
    background-image: -o-linear-gradient(98deg, #FF8500, #ffe0a5);
    background-image: linear-gradient(-8deg, #FF8500, #ffe0a5);
    color: #fff !important;
}

.btn_rouge
{
    background: #b70101;
    background-image: -webkit-linear-gradient(98deg, #b70101, #fdafaf);
    background-image: -moz-linear-gradient(98deg, #b70101, #fdafaf);
    background-image: -o-linear-gradient(98deg, #b70101, #fdafaf);
    background-image: linear-gradient(-8deg, #b70101, #fdafaf);
    color: #fff;
}

.btn_noir
{
    background: #5b5b5b;
    background-image: -webkit-linear-gradient(98deg, #5b5b5b, #dddddd);
    background-image: -moz-linear-gradient(98deg, #5b5b5b, #dddddd);
    background-image: -o-linear-gradient(98deg, #5b5b5b, #dddddd);
    background-image: linear-gradient(-8deg, #5b5b5b, #dddddd);
    color: white;
}

/* Tailles */
.btn_minus
{
    font-size: 11px;
    padding: 3px 8px;
}

.btn_petit
{
    font-size: 13px;
    padding: 3px 8px;
}

.btn_grand
{
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
}

.btn_upper_case {
    text-transform: uppercase;
}

/* Boutons fleche */
.btn_fleche_g { padding-left: 25px; }

.btn_fleche_d { padding-right: 25px; }

.btn_fleche_g:after,
.btn_fleche_d:after
{
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    content: '';
    position: absolute;
    height: 0;
    top: 7px;
    width: 0;
}

.btn_fleche_g:after
{
    border-right: 7px solid #FFF;
    left: 5px;
}

.btn_fleche_d:after
{
    border-left: 7px solid #FFF;
    right: 5px;
}

/* Tailles fleches */
.btn_petit.btn_fleche_g:after,
.btn_petit.btn_fleche_d:after
{
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    top: 6px;
}

.btn_petit.btn_fleche_g:after { border-right: 6px solid #FFF; }
.btn_petit.btn_fleche_d:after { border-left: 6px solid #FFF; }

.btn_grand.btn_fleche_g:after,
.btn_grand.btn_fleche_d:after
{
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
    top: 11px;
}

.btn_grand.btn_fleche_g:after { border-right: 9px solid #FFF; }
.btn_grand.btn_fleche_d:after { border-left: 9px solid #FFF; }

/* Tableaux / Listes */

table.table_donnees tbody tr.alt td,
ol li.alt,
ul li.alt { background: #DDD; }

/* Messages logs */

.message {
    background: #fffcef;
    border: 1px solid #f90;
    margin: 0 0 15px 0;
    padding: 10px 15px;
}

.message_erreur {
    background: #FDD;
    border: 1px solid #FF3300;
}

.message ul.messages_log li {
    background: url(../images/puces/bullet_noir.png) 0 5px no-repeat;
    margin: 5px 0;
    padding: 0 0 0 15px;
}

.message ul.messages_log li a { text-decoration: underline; }

.message_title {
    padding: 0 10px;
    font-weight: bold;
    font-size: 14px;
}

p.flash_message
{
    background: #fffcef;
    border: 1px solid #f90;
    margin: 0 0 8px;
    padding: 5px;
    font-size: 13px !important;
}

/* Popup d'erreur */
#popup_msg_erreur{
    background:url("../images/pictos/pi_alert_error.png") no-repeat scroll 10px 50% ;
    display:none;
}

#popup_msg_erreur p{
    margin:20px 0 0 90px;
}
#popup_msg_erreur .close_btn{
    margin-top:10px;
    text-align:right;
}

/* Popup d'aide */
a.msg_aide {
    background: url(../images/pictos/pi_aide.png) 0 0 no-repeat;
    display: inline-block;
    height: 17px;
    outline: 0;
    vertical-align: middle;
    width: 17px;
    opacity: 0.5;
}

a.msg_aide:hover {
    opacity: 1;
}

#popup_msg_aide {
    display: none;
}

#popup_msg_aide p {
    background: url("../images/pictos/pi_aide.png") no-repeat scroll 0 0
        transparent;
    color: #656565;
    font-size: 15px;
    padding: 0 10px 10px 25px;
    text-align: justify;
}

a.msg_aide_ds {
    background: url(../images/pictos/pi_aide.png) 0 0 no-repeat;
    display: inline-block;
    height: 17px;
    outline: 0;
    vertical-align: middle;
    width: 17px;
    opacity: 0.5;
}


a.msg_aide_ds:hover {
    opacity: 1;
}

#popup_msg_aide_ds {
    display: none;
}

#popup_msg_aide_ds p {
    background: url("../images/pictos/pi_aide.png") no-repeat scroll 0 0
        transparent;
    color: #656565;
    font-size: 15px;
    padding: 0 10px 10px 25px;
    text-align: justify;
}

/**
 * Structure générique
 ******************************************/
#global
{
    margin: 0 auto;
    width: 1000px;
}

#header
{
    background: url(../images/fonds/bg_header.png) 0 0 repeat;
    border: 1px solid #252303;
    color: #f1f1f1;
    margin: 7px 0;
    padding: 10px;
}

#contenu
{
    background: #fff;
    border: 1px solid #000;
    border-bottom-color: #dedede;
    clear: both;
    padding: 0 0 20px;
}

#footer
{
    color: #ccc;
    font-size: 12px;
    padding: 20px 0;
    text-align: center;
}


/**
 * Lien d'évitement
 ******************************************/
ul#liens_evitement
{
    font-size: 10px;
    line-height: 12px;
    margin: 7px 0 0;
    text-transform: uppercase;
}

ul#liens_evitement li
{
    display: inline;
    float: right;
    margin: 0 0 0 28px;
}

ul#liens_evitement li a
{
    background: url(../images/pictos/pi_liens_evitement.png) no-repeat;
    color: #c4d00a;
}

ul#liens_evitement li.accueil a
{
    background-position: 0 2px;
    color: #c4d00a;
    padding: 0 0 0 18px;
}

ul#liens_evitement li.deconnexion a
{
    background-position: right -14px;
    color: #c4d00a;
    padding: 0 25px 0 0;
}

/**
 * Header
 ******************************************/
/* Logo */
#header h1#logo
{
    float: left;
    text-align: center;
    width: 135px;
}

/* Titre rubrique */
#header #titre_rubrique
{
    border: solid #fff;
    border-width: 0 1px;
    float: left;
    margin: 0 12px;
    padding: 0 12px;
    width: 658px;
    height: 95px;
}

#header #titre_rubrique h1
{
    font-size: 30px;
    font-weight: normal;
    margin: 0 0 5px;
}

#header #titre_rubrique p.utilisateur
{
    background: url(../images/pictos/pi_utilisateur.png) 0 center no-repeat;
    font-size: 20px;
    padding: 0 0 0 15px;
}

#header #titre_rubrique p.utilisateur a
{
    background: url(../images/puces/fleche_bas_1.png) right center no-repeat;
    color: #f1f1f1;
    padding: 0 12px 0 0;
}

#header #titre_rubrique p.utilisateur { font-size: 16px; }

/* Accès directs */
#header #acces_directs
{
    float: left;
    width: 135px;
}

#header #acces_directs h2
{
    font-size: 16px;
    font-weight: normal;
    margin: 0 0 5px;
}

#header #acces_directs ul li a { color: #c4d00a; }

#header #acces_directs ul li.admin a { color: #ff0000; }
a.admin { color: #ff0000; }
/**
 * Footer
 ******************************************/
#footer * { display: inline; }

#footer p,
#footer ul li { margin: 0 12px 0 0; }

#footer ul li a
{
    background: url(../images/puces/bullet_noir.png) 0 center no-repeat;
    color: #ccc;
    padding: 0 0 0 15px;
}


/***
 * ERROR 404
 ****************/

#error_page {
    margin-left: 40px;
}

#error_page img{
    float: left;
    margin-right:36px;
}

#error_page h1{
    font-size:20px;
    font-weight:normal;
    line-height:26px;
    margin:0 0 0 20px;
    padding:0 10px;
}

#error_page li{
    list-style: square;
}

ul.statistiques ul li{
    list-style: square;
    margin: 2px 0 1px 25px;
}

ul.statistiques li{
    margin-bottom: 5px;
}

#ajax_notifications {
  position:fixed;
  width:100%;
  top:0;
  z-index:100000;
}
#ajax_form_progress_notification, #ajax_form_error_notification {
  display:none;
  margin:2px auto;
  color:#ffffff;
  padding:5px;
  text-align:center;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
}
#ajax_form_progress_notification {
  background:#114c8d;
  z-index:1200;
  width:160px;
}
#ajax_form_error_notification {
  z-index:1201;
  background:#900000;
  width:450px;
}

#application_drm{
  padding: 0px 10px;
}

input[type="text"].ui-autocomplete-input
{
	border: 1px solid #c1c1c1;
	border-bottom-color: #e1e1e1;
	border-top-color: #848484;
    background: #FFF url('../images/pictos/pi_loupe_2.png') 98% 50% no-repeat;
}

.ui-button {
    background: url('../images/puces/fleche_sous_menu.png') 50% 50% no-repeat;
    border: 0;
    cursor: pointer;
    height: 17px;
    margin: 0 5px;
    vertical-align: middle;
    width: 17px;
}

#form_admin_login .ui-button, #form_admin_login .remove_autocomplete {
    display: none !important;
}

#form_admin_login input[type="text"].ui-autocomplete-input
{
    width: 250px;
    padding: 5px 3px;
}

.remove_autocomplete {
    background: url('../images/pictos/pi_supprimer.png') no-repeat;
    display: inline-block;
    height: 14px;
    margin: 0 5px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    width: 14px;
}

.versionner {
    outline: 1px dotted #ff0000 !important;
}
