body {
    font-size: 14px;
}

#main {min-height: 400px;}

.form-group-xs .form-control, .input-sm {
    font-size: 14px;
    padding-top: 6px;
}

.form-group-xs .form-control, .input-xs {
    height: 22px;
    padding: 2px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.form-group-xs {
    margin-bottom: 7px;
}

.list-group-item-xs {
    padding: 7px 10px;
}

.list-group-item-xs ul.list-unstyled {
    margin-bottom: 0;
}

.list-group-item-xs h4 {
    margin-top: 7px;
}

.panel-heading-xs {
    padding: 7px 10px;
}

.panel.inactive {
    cursor: not-allowed;
    opacity: 0.6;
}

table tr th.vertical-center, table tr td.vertical-center, table tr.vertical-center td, table th.vertical-center td {
    vertical-align: middle;
}

.pointer {
    cursor: pointer;
}

.form-control[readonly].no-state, .form-control[disabled].no-state {
    opacity: inherit;
    background: inherit;
}

panel.disabled {
    cursor: not-allowed;
    opacity: 0.6;
}

/**** CIVA ****/

body {
    background: #000 url("https://declaration.vinsalsace.pro/images/fonds/bg_global.jpg") no-repeat scroll center 0px;
}

body > .navbar {
    background: transparent url("https://declaration.vinsalsace.pro/images/fonds/bg_header.png") repeat scroll 0px 0px;
}

#main {
    background: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid #000;
}

/**
 * Header
 ******************************************/

#header
{
    background: url("https://declaration.vinsalsace.pro/images/fonds/bg_header.png") 0 0 repeat;
    border: 1px solid #252303;
    color: #f1f1f1;
    margin-bottom: 7px;
    margin-top: 7px;
    padding: 10px;
}

/* Logo */
#header h1#logo
{
    float: left;
    text-align: center;
    width: 135px;
}

/* Titre rubrique */
#header #titre_rubrique
{
    border: solid #fff;
    border-width: 0 1px;
    float: left;
    margin: 0 12px;
    padding: 0 12px;
    width: 650px;
    height: 95px;
}

#header #titre_rubrique h1
{
    font-size: 30px;
    font-weight: normal;
    margin: 0 0 5px;
}

#header #titre_rubrique p.utilisateur
{
    background: url(../images/pictos/pi_utilisateur.png) 0 center no-repeat;
    font-size: 20px;
    padding: 0 0 0 15px;
}

#header #titre_rubrique p.utilisateur a
{
    background: url(../images/puces/fleche_bas_1.png) right center no-repeat;
    color: #f1f1f1;
    padding: 0 12px 0 0;
}

#header #titre_rubrique p.utilisateur { font-size: 16px; }

/* Accès directs */
#header #acces_directs
{
    float: left;
    width: 120px;
}

#header #acces_directs h2
{
    font-size: 16px;
    font-weight: normal;
    margin: 0 0 5px;
}

#header #acces_directs ul { margin: 0;  padding: 0; line-height: 1; list-style-type: none }

#header #acces_directs ul li { margin: 0;  padding: 0; }

#header #acces_directs ul li a { color: #c4d00a; }

#header #acces_directs ul li.admin a { color: #ff0000; }
a.admin { color: #ff0000; }

#global #contenu {
    padding: 20px;
}

/* Étapes */

ul.navbar-nav {
	padding: 0 0 0 5px;
}
ul.navbar-nav li {
    margin: 0 1px 0 0;
    width: 150px;
}
ul.navbar-nav li a {
    color: #a8a8a8;
    display: block;
    padding: 2px 0 !important;
}
ul.navbar-nav li small {
    background: rgba(0, 0, 0, 0) url("https://declaration.vinsalsace.pro/images/fonds/bg_etapes_declaration.png") repeat-x scroll 0 0;
    color: #c8ce79;
    display: block !important;
        font-size: 12px;
    font-style: italic;
    font-weight: bold;
    margin: 2px 0 0;
    padding: 6px 0 0;
}

ul.navbar-nav li.active a {
    color: #555;
    text-decoration: none;
}

ul.navbar-nav li.active small {
    background-position: 0 -26px;
    color: #ffb100;
}

ul.navbar-nav li.visited small {
    background-position: 0 -52px;
}

ul.navbar-nav  > .active > a,
ul.navbar-nav  > .active > a:hover,
ul.navbar-nav  > .active > a:focus {
	background-color: transparent !important;
    color: #555 !important;

}
.modal.modal-overflow {
    overflow: auto;
}
.strong {
    font-weight: bold;
}

/** VRAC **/
table#soussignes_listing tbody td {
    border-bottom: 1px dashed #c6c8c7;
    color: #666;
    font-size: 12px;
    line-height: 17px;
    padding: 3px;
    vertical-align: middle;
}
table#soussignes_listing .liste_actions li
{
	background: transparent 0 50% no-repeat;
	padding: 2px 5px 2px 22px;
}
table#soussignes_listing li.action_supprimer { background-image: url('../images/pictos/pi_supprimer.png'); }
table#soussignes_listing li.action_enlever { background-image: url('../images/pictos/pi_crayon.png'); }
table#soussignes_listing li.action_signer { background-image: url('../images/pictos/pi_signer.png'); }
table#soussignes_listing li.action_continuer { background-image: url('../images/pictos/pi_fleche_continuer.png'); }
table#soussignes_listing li.action_visualiser { background-image: url('../images/pictos/pi_visualiser.png'); }
table#soussignes_listing ul.liste_soussignes li { padding: 2px 22px 2px 5px; }

table#soussignes_listing li.soussigne_valide,
table#soussignes_listing li.soussigne_attente,
table#soussignes_listing li.soussigne_valide_grey,
table#soussignes_listing li.soussigne_attente_grey { background: 98% 50% no-repeat; }

table#soussignes_listing li.soussigne_valide { background-image: url('../images/pictos/pi_check_2.png'); }
table#soussignes_listing li.soussigne_attente { background-image: url('../images/pictos/pi_sablier.png'); }

table#soussignes_listing li.soussigne_valide_grey { background-image: url('../images/pictos/pi_check_2_grey.png'); }
table#soussignes_listing li.soussigne_attente_grey { background-image: url('../images/pictos/pi_sablier_grey.png'); }
