bin/config.inc
bin/task.inc
config/app.yml
config/databases.yml
config/properties.ini
apps/civa/config/factories.yml
web/civa_dev.php
data/*.lck
data/import
data/upload
data/export
data/pdf
data/vrac
data/maintenance
data/mails
data/latex
data/*.csv
cache/[^.]*
log/[^.]*
web/images/liste_nomenclatures_douanieres.pdf
web/images/AdhesionGamma_EDI_CIVA.pdf
web/images/aide_gamma.pdf
web/civawebservice_dev.php
web/civawebservice.php
web/mise_a_disposition/
web/douane/
web/helpPdf
web/documents
web/doc-edi
data/mercuriales
