# You can find more information about this file on the symfony website:
# http://www.symfony-project.org/reference/1_4/en/11-App

# default values
all:
  base_url : http://declaration.vinsalsace.pro/
  tomcat_dir : /home/declaration/vinsalsace/cas
  cas:
    domain: declaration.dev.vinsalsace.pro
    port: 443
    path: cas
    url : "https://declaration.dev.vinsalsace.pro:443/cas"
  ldap:
    serveur: "127.0.0.1"
    dn: "cn=admin,dc=vinsalsace,dc=pro"
    dc: "dc=vinsalsace,dc=pro"
    pass: "my_passw"





