# You can find more information about this file on the symfony website:
# http://www.symfony-project.org/reference/1_4/en/11-App

# default values
all:
  base_url : http://declaration.vinsalsace.pro
  routing_context_production_host: declaration.vinsalsace.pro
  tomcat_dir : /var/www/tomcat6/webapps/cas
  #login_no_cas: false
  #autologin: login
  cas:
    domain: login.dev.vinsalsace.pro
    port: 443
    path: cas
    url : "https://login.dev.vinsalsace.pro:443/cas"
  ldap:
    serveur: "127.0.0.1"
    dn: "cn=admin,dc=vinsalsace,dc=pro"
    dc: "dc=vinsalsace,dc=pro"
    pass: "LDAP_ADMIN_PASSWORD"
    autoupdate: false
  secret_key:
    publication_mairies: "cle_secrete"
  gamma:
    url_qualif: "http://url_a_remplacer.com/"
    url_prod: "http://url_a_remplacer.com/"

  ac_exception_notifier:
    enabled: false
    email:
      from: "email@email.email"
      from_name: "acExceptionNotifierPlugin"
      to: ["email@email.email"]
      subject: "500 | Internal Server Error | Exception"
  email:
    from_name: ""
    from: ""
    reply_to: ""
    feed_back: ["email@email.email"]
  declarant_class: "Etablissement"
  ava:
    url: "https://url_a_remplacer.com"
  giilda:
    url_drm: http://url_a_remplacer/drm/etablissement/%s
    url_logout: http://url_a_remplacer/drm/logout
  dr:
    date_ouverture: "Y-m-d"
    date_fermeture: "Y-m-d"
  ds:
    date_ouverture: "Y-m-d"
    date_fermeture: "Y-m-d"

test:
#  autologin: login
